WebService/WebContent/wsdl/FirstWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://first" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://first" xmlns:intf="http://first" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://first" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="helloWorldXML">
    <complexType/>
   </element>
   <element name="helloWorldXMLResponse">
    <complexType>
     <sequence>
      <element name="helloWorldXMLReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="helloWorldJSON">
    <complexType/>
   </element>
   <element name="helloWorldJSONResponse">
    <complexType>
     <sequence>
      <element name="helloWorldJSONReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="helloWorldJSONResponse">

      <wsdl:part element="impl:helloWorldJSONResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="helloWorldXMLRequest">

      <wsdl:part element="impl:helloWorldXML" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="helloWorldJSONRequest">

      <wsdl:part element="impl:helloWorldJSON" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="helloWorldXMLResponse">

      <wsdl:part element="impl:helloWorldXMLResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="FirstWebService">

      <wsdl:operation name="helloWorldXML">

         <wsdl:input message="impl:helloWorldXMLRequest" name="helloWorldXMLRequest">

       </wsdl:input>

         <wsdl:output message="impl:helloWorldXMLResponse" name="helloWorldXMLResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="helloWorldJSON">

         <wsdl:input message="impl:helloWorldJSONRequest" name="helloWorldJSONRequest">

       </wsdl:input>

         <wsdl:output message="impl:helloWorldJSONResponse" name="helloWorldJSONResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FirstWebServiceSoapBinding" type="impl:FirstWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="helloWorldXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="helloWorldXMLRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="helloWorldXMLResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="helloWorldJSON">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="helloWorldJSONRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="helloWorldJSONResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FirstWebServiceService">

      <wsdl:port binding="impl:FirstWebServiceSoapBinding" name="FirstWebService">

         <wsdlsoap:address location="http://localhost:8080/WebService/services/FirstWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
